{% extends "base.html.twig" %}


{% block title %}
	Bienvenue dans notre Boutique de création !
{% endblock %}
{% block body %}
 

	<section class="body-contenu">
         <main class="image_nav">
             <h3>Le Lorem Ipsum est simplement
                 du faux texte employé dans la
                 composition et la mise en page
                 avant impression. Le Lorem Ipsum
     
                 1500, quand un imprimeur anonyme</h3>
         </main>
        
    <section class="section_presentation">

        <h1>Découvrez Les Collections</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting
            , remaining essentially unchanged Lorem Ipsum</p>


        <div class="section_images">
            <div class="bijou-section">
                <h1> <a href="{{ path('bijouxs_index') }}">Bijoux</a> </h1>
            </div>
            <div class="couture-section">
                <h1> <a href="{{ path('coutures_index') }}">Coutures</a> </h1>
            </div>
        </div>
    </section>


    
    <section class="section_presentation2">
       
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting
            , remaining essentially unchanged
             Lorem Ipsum</p>
    </section>

    <!-- la première section de Bijoux -->


    <section class="bijou_section">
        <div class="zekfkjg">
            <img src="images/bague-soleil-plaque-or_grande.png" alt="bijoux" class="imagee"/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quaerat facilis, numquam, officiis illum
                in cupiditate ab accusantium nulla voluptatum dolor sequi? Commodi ut reprehenderit ad nobis, provident
                velit et?</p>
        </div>

        <div class="bijoux_content">
            <div class="fkgdlfgdlg">

                <img src="images/collier-2-ronds-or_1024x1024.jpg" alt="bijoux"  class="image_bijoux"/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias laborum pariatur non sint.
                    Voluptatum assumenda hic dicta placeat eos! Corporis accusantium vel dolor, rerum autem quia ducimus
                    suscipit quis?</p>
            </div>
            <div class="hfkdjsvnkdsn">

                <img src="images/bague-pierre-couleurs-or_grande.jpg" alt="bijoux" class="image_bijoux" />
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis nemo enim, molestias doloremque
                    repudiandae vero maxime corporis? Odio repellendus nobis, similique recusandae dolorem dolores quo,
                    assumenda iusto fugiat earum debitis.</p>
            </div>
        </div>

    </section>



    <!-- la douxième section de couture -->

    <section class="bijou_section">
       

        <div class="bijoux_content">
            <div class="fkgdlfgdlg">

                <img src="images/sac-franges-cuir-gris_grande.jpg" alt="bijoux"  class="image_bijoux"/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias laborum pariatur non sint.
                    Voluptatum assumenda hic dicta placeat eos! Corporis accusantium vel dolor, rerum autem quia ducimus
                    suscipit quis?</p>
            </div>
            <div class="hfkdjsvnkdsn">

                <img src="images/sac-cabas-drap-laine-bleu-1.webp" alt="bijoux" class="image_bijoux" />
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis nemo enim, molestias doloremque
                    repudiandae vero maxime corporis? Odio repellendus nobis, similique recusandae dolorem dolores quo,
                    assumenda iusto fugiat earum debitis.</p>
            </div>
        </div>

        <div class="zekfkjg">
            <img src="images/Sac-bandouliere-cuir-homme-miel-Old-Angler-.jpg" alt="bijoux" class="imagee"/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quaerat facilis, numquam, officiis illum
                in cupiditate ab accusantium nulla voluptatum dolor sequi? Commodi ut reprehenderit ad nobis, provident
                velit et?</p>
        </div>

    </section>



<!-- section preuve couture-->

<section class="section_tuito">
    <h2 class="tuito_titre">
        Lorem Ipsum du composition est 
        le faux texte standard</h2>
    <div class="list_tuito" >
      
        <ol class="premier_list">
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
           
         
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
        </ol>
        <div>
            <img src="images/atelier-fabrication-sacs-france-9.webp" alt="" class="immmf">

        </div>
        <ol class="douzieme_list">
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
           
         
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
        </ol>
        
        
    </div>
   


    <div class="gallery_image">
        <img src="images/atelier-fabrication-sacs-france-9.webp" alt="" class="immmf">
        <img src="images/atelier-fabrication-sacs-france-9.webp" alt="" class="immmf">

        <img src="images/atelier-fabrication-sacs-france-0.webp" alt="" class="immmf">
        <img src="images/Sac-bandouliere-cuir-homme-miel-Old-Angler-.jpg" alt="" class="immmf">
    </div>
    <div class="gallery_image">
        <img src="images/atelier-fabrication-sacs-france-9.webp" alt="" class="immmf">
        <img src="images/atelier-fabrication-sacs-france-9.webp" alt="" class="immmf">

        <img src="images/atelier-fabrication-sacs-france-0.webp" alt="" class="immmf">
        <img src="images/Sac-bandouliere-cuir-homme-miel-Old-Angler-.jpg" alt="" class="immmf">
    </div>

</section>







<!-- bijoux preuve section -->


<section class="section_tuito">
    <h2 class="tuito_titre">Lorem Ipsum est simplement du composition est le faux texte standard</h2>
    <div class="list_tuito" >
      
        <ol class="premier_list">
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
           
         
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
        </ol>
        <img src="images/collection-bijoux-DIY-Oracle-La-Cabane-a-perles-2.jpg" alt="" class="immmf">
        <ol class="douzieme_list">
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
           
         
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
            <li>Lorem Ipsum est simplement du composition est le faux texte standard</li>
        </ol>
        
        
    </div>
   


    <div class="kko">
        <img src="images/YE3030_324x324.jpg" alt="" class="immmf">
        <img src="images/collection-bijoux-DIY-Oracle-La-Cabane-a-perles-2.jpg" alt="" class="immmf">

  
    
    
        <img src="images/YE3030_324x324.jpg" alt="" class="immmf">
        <img src="images/collection-bijoux-DIY-Oracle-La-Cabane-a-perles-2.jpg" alt="" class="immmf">

        <img src="images/imageeee.jpg" alt="" class="immmf">
        <img src="images/imageeee.jpg" alt="" class="immmf">
    </div>

</section>
{# <div class="container">
	<h2 class="h1 my-5">Nos Bijoux stars</h2>
	<div class="row">
		{% for data in bijouxs %}
		{% include 'bijoux/_bijoux.html.twig' with {'bijoux': data.bijoux} %}
		{% endfor %}
	</div>
	</div> #}




    <!-- A propos de nous  -->
	<div class="container">
		<h2 class="h1 my-5">Les Créatrices</h2>
	{# {{dump(users)}} #}
	<div class="row mt-5">
		{% for data in users %}
		<div class="col">
			<div class="card border-secondary mb-3">
				<div class="card-body">
					<h4 class="card-title">{{data.user.fullName}}</h4>
				 
					<div class="card-text">
						<img src="{{data.user.picture}}" alt="Avatar de {{data.user.fullName}}" class="float-left mr-3">
						<p>{{data.user.introduction}}</p>
						<a href="{{ path('user_show', {'slug': data.user.slug}) }}"
							class="btn buttonn float-right">En savoir plus</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	</div>

  

     </section>
 
 

	
          
{% endblock %}
