{% extends 'base.html.twig' %}

{% block title %}
	Page de
	{{ user.fullName }}
	!
{% endblock %}

{% block body %}
	<div class="container">
		<div
			class="row align-items-center mb-5">
			{# swich pour User Bijouxs ou l'autre User Couture #}
			{% if user.bijouxs %}
				<div
					class="col-3 text-center">
					{# alt="Avatar de {{user.fullName}}" #}
					<img src="{{user.picture}}" class="avatar mb-3" alt="avatar de {{user.fullName}}">
					<br>
					<span class="badge bg-primary">{{user.bijouxs | length}}
						produits</span>
				</div>
				<div class="col-9">
					<h1>{{user.fullName}}</h1>
					{# On regarde si l'utilisateur la quel on regarde le profil et le meme que celui qui est connecter avec la app.user #}
					{% if user is same as(app.user) %}
						<div class="mt-3">
							<a href="{{ path('account_profile') }}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a>
							<a href="{{ path('account_password') }}" class="btn btn-primary mb-2">Modifier mon mot de passe</a>
						</div>
					{% endif %}
				</div>
			</div>

			{{ user.description | raw }}
			<hr>
			<h2>Tout les produits de
				{{user.fullName}}</h2>

			{% if user.bijouxs | length > 0 %}
				<div class="row">
					{% for bijoux in user.bijouxs %}
						{% include "bijoux/_bijoux.html.twig" %}
					{% endfor %}
				</div>
			{% else %}
				<div class="alert alert-warning">
					<p>
						<strong>{{user.fullName}}</strong>
						n'a pas encore d'produitsur le site !
					</p>
				</div>
			{% endif %}


			{# swicher pour User Coutures  #}
		{% elseif user.coutures %}
			<div
				class="col-3 text-center">
				{# alt="Avatar de {{user.fullName}}" #}
				<img src="{{user.picture}}" class="avatar mb-3" alt="avatar de {{user.fullName}}">
				<br>
				<span class="badge bg-primary">{{user.coutures | length}}
					produits</span>
			</div>
			<div
				class="col-9">
				{# On regarde si l'utilisateur la quel on regarde le profil et le meme que celui qui est connecter avec la app.user #}
				{% if user is same as(app.user) %}
					<div class="mt-3">
						<a href="{{ path('account_profile') }}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a>
					</div>
					<a href="{{ path('account_password') }}" class="btn btn-primary mb-2">Modifier mon mot de passe</a>
				{% endif %}
			</div>
		</div>
		{{ user.description | raw }}
		<hr>
		<h2>Tout les produits de
			{{user.fullName}}</h2>


		{% if user.coutures | length > 0 %}
			<div class="row">
				{% for couture in user.coutures %}
					{% include "couture/_couture.html.twig" %}
				{% endfor %}
			</div>
		{% else %}
			<div class="alert alert-warning">
				<p>
					<strong>{{user.fullName}}</strong>
					n'a pas encore d'produitsur le site !
				</p>
			</div>
		{% endif %}
	{% endif %}
</div>{% endblock %}
